body{
    background-image: url("images/Battle_of_Trafalgar.jpg");
    background-repeat: no-repeat;
  background-position:unset;
  background-attachment: fixed;
}
p{
    color: white;
    background-color:#77C9FF
}
h1{
    color: #87d6eb;
}
h2{
    color: brown;
}
h3{
    color:aqua
}
.noun{
    font-weight: 900;
    color: red;
}
p.noun{
    color:red;
}
img {
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  width: 110px;
}
table, th, td {
  border: 1px solid;
}
.destroyer{
    color:aqua
}
.cruiser{
    color:aqua
}

.battleship{
    color:aqua
}
.frigate{
    color:aqua
}
nav 
{
background-color: #87d6eb;
text-align: center; 
width: 100%; 
}       
    
nav div 
{
padding: 14px 20px; 
display: inline-block; 
}      
      
nav a 
{
font-size: 23px;
text-decoration: none; 
color: black; 
}
        
nav div:hover 
{
background-color: #555; 
color: white; 
}
span.header{
    background-color:yellow;
    color: black;
}