body{
    background-image: url("images/Battle_of_trafalgar.jpg");
}
p{
    color: #FF33F0;
}
.noun{
    font-weight: 900;
    color: red;
}
p.noun{
    color:white;
}
img {
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 110px;
