body{
    background:#1C0770
}
p{
    margin:100px;
    color: white;
    background-color:#77C9FF
}
h1{
    color: #87d6eb;
}
h2{
    color: #87d6eb;
}
h3{
    color:aqua
}
.noun{
    font-weight: 900;
    color: red;
}
p.noun{
    color:red;
}
img {
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  width: 250px;
}
table, th, td {
  border: 1px solid;
}
div.Victory{
position: relative;
left: 200px;
width: 270px;
height: 220px;
padding: 10px;
border: 5px solid blue;
}
div.Imperator{
position: relative;
left: 200px;
width: 270px;
height: 220px;
padding: 10px;
border: 5px solid blue;
}
nav 
{
background-color: #87d6eb;
text-align: center; 
width: 100%; 
}       
    
nav div 
{
padding: 14px 20px; 
display: inline-block; 
}      
      
nav a 
{
font-size: 23px;
text-decoration: none; 
color: black; 
}
        
nav div:hover 
{
background-color: #555; 
color: white; 
}
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Style for the dropdown menu content */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #DDE3BA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown menu links */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for the dropdown menu links on hover */
.dropdown-content a:hover 
{
    background-color: #DDE3BA;
}

/* Show the dropdown menu content when hovering over the dropdown */
.dropdown:hover .dropdown-content 
{
    display: block;
}